 Questions1. Setup (5 minutes)
Import the necessary libraries.
Create a DataFrame using the given data. Display the DataFrame.

data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva','Age': [24, 27, 22, 32, 29], 'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}

In [35]:
#import all the libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats

In [36]:
# Sample data
data = {'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Eva'],'Age': [24, 27, 22, 32, 29], 'City': ['New York', 'Los Angeles', 'Chicago', 'Houston', 'Phoenix']}

df = pd.DataFrame(data)
print(df)

      Name  Age         City
0    Alice   24     New York
1      Bob   27  Los Angeles
2  Charlie   22      Chicago
3    David   32      Houston
4      Eva   29      Phoenix

2. Pandas DataFrame Operations (15 minutes)
Tasks:
*
2.1 Select the 'Name' and 'City' columns and display them.

2.2 Filter the DataFrame to only include rows where 'Age' is greater than 25 and display the result.

2.3 Sort the DataFrame by 'Age' in ascending order and display the sorted DataFrame.

2.4 Add a new column 'Age_Group' that categorizes ages into 'Young' (less than 30) and 'Adult' (30 and above), and display the updated DataFrame.

In [37]:
df = pd.DataFrame(data)

columns = df[['Name', 'City']]

print(columns)

      Name         City
0    Alice     New York
1      Bob  Los Angeles
2  Charlie      Chicago
3    David      Houston
4      Eva      Phoenix

In [38]:
df = pd.DataFrame(data)


filtered_df = df.loc[df['Age'] > 25]

print (filtered_df)

    Name  Age         City
1    Bob   27  Los Angeles
3  David   32      Houston
4    Eva   29      Phoenix

In [13]:
df = pd.DataFrame(data)

df.sort_values(by='Age', ascending=True, inplace=True)
print(df)

      Name  Age         City
2  Charlie   22      Chicago
0    Alice   24     New York
1      Bob   27  Los Angeles
4      Eva   29      Phoenix
3    David   32      Houston

In [14]:
df = pd.DataFrame(data)

df['Age_Group'] = df['Age'].apply(lambda x: 'Young' if x < 30 else 'Adult')
print(df)

      Name  Age         City Age_Group
0    Alice   24     New York     Young
1      Bob   27  Los Angeles     Young
2  Charlie   22      Chicago     Young
3    David   32      Houston     Adult
4      Eva   29      Phoenix     Young

3. Data Structures: Lists and Dictionaries (10 minutes)
Tasks:

3.1 Create a list of new ages: [25, 28, 23, 33, 30]. Update the 'Age' column in the DataFrame with these new ages and display the updated DataFrame.

3.2 Create a dictionary mapping names to new cities: {'Alice': 'San Francisco', 'Bob': 'Seattle', 'Charlie': 'Austin', 'David': 'Dallas', 'Eva': 'Miami'}.

Update the 'City' column using this dictionary and display the updated DataFrame.

In [25]:
city_mapping = {'Alice': 'San Francisco', 'Bob': 'Seattle', 'Charlie': 'Austin', 'David': 'Dallas', 'Eva': 'Miami'}

df['City'] = df['Name'].map(city_mapping)

print(df)

      Name           City
0    Alice  San Francisco
1      Bob        Seattle
2  Charlie         Austin
3    David         Dallas
4      Eva          Miami

In [29]:

data = {'Name': ['Tom', 'Nick', 'John', 'Doe'], 'Age': [20, 21, 19, 18]}
df = pd.DataFrame(data)

for index, row in df.iterrows():
    print(f"Name: {row['Name']}, Age: {row['Age']}")

def categorize_age(age):
    if age < 30:
        return 'Youth'
    else:
        return 'Adult'

df['Category'] = df['Age'].apply(categorize_age)

print(df)

Name: Tom, Age: 20
Name: Nick, Age: 21
Name: John, Age: 19
Name: Doe, Age: 18
   Name  Age Category
0   Tom   20    Youth
1  Nick   21    Youth
2  John   19    Youth
3   Doe   18    Youth

In [28]:

df = pd.DataFrame(data)

   for index, row in df.iterrows():
     print(f"Name: {row['Name']}, Age: {row['Age']}")

def up_age(age):
    if age < 30:
        return 'Youth'
    else:
        return 'Adult'

df['Category'] = df['Age'].apply(up_age)
print(df)

IndentationError: unexpected indent (<ipython-input-28-d5c5b50aab32>, line 3)